:root {
  --vivid-tangerine: #ffa69eff;
  --eggshell: #faf3ddff;
  --aero-blue: #b8f2e6ff;
  --powder-blue: #aed9e0ff;
  --black-coral: #5e6472ff;
  --background-white: #f4f4f5;
  --amethyst: #9b5de5ff;
  --magenta-crayola: #f15bb5ff;
  --minion-yellow: #fee440ff;
  --capri: #00bbf9ff;
  --sea-green-crayola: #00f5d4ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0.5%;
  background-color: var(--background-white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-between;
}

.nav-link-container {
  margin: 0px;
  flex-grow: 2;
  display: flex;
  flex-direction: row-reverse;
}

.nav-link-item {
  margin: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--vivid-tangerine);
  font-size: 25px;
  font-weight: 550;
}

.nav-link:hover {
  color: var(--amethyst);
}

h1 {
  margin: 0;
  font-size: 60px;
  color: royalblue;
  position: center;
}

h2 {
  margin: 10;
  font-size: 30px;
  color: var(--amethyst);
  font-family: Arial;
  position: center;
}

h3 {
  margin: 15;
  font-size: 45px;
  color: var(--amethyst);
  font-family: Arial;
  position: center;
}

div.relative {
  position: relative;
  width: 200px;
  height: 400px;
  margin: 0;
  padding: 0;
}

div.absolute {
  position: absolute;
  left: 80px;
  height: 400px;
  width: 200px;
}

.center-image {
  display: block;
  margin-right: auto;

  width: 185px;
}

/* have my projects section here */
.main {
  display: flex;
  margin: 2%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-1-container {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  position: relative;
}

.card-1-container img {
  width: 1484px;
  opacity: 40%;
}

.card-1-container :hover {
  opacity: 100%;
  transition: opacity 1s;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: solid;
  font-size: 80px;
  font-family: Arial;
  color: #1d1c2e;
  margin: 0%;
  padding: 0%;
}

.card-container {
  flex: 1 0 0;
  padding: 10px;
  text-align: row;
  position: relative;
}

.card-container img {
  width: 400px;
  opacity: 40%;
  transition: opacity 2s;
}

.centered-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: solid;
  font-size: 40px;
  font-family: Arial;
  color: #1d1c2e;
  margin: 0%;
  padding: 0%;
}

/* ----------------------------- */

.nav-link-container-1 {
  margin: 2%;
  padding: 0%;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link-item-1 {
  margin: 30px;
}

.contact-me {
  text-align: center;
  margin: 0;
  font-size: 25px;
}

.footer-wording {
  color: var(--amethyst);
  font-family: Tahoma;
  font-weight: bolder;
}

hr {
  color: var(--black-coral);
  border: 1px dashed #000;
  width: 50%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 0.5%;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-link-container {
    flex-direction: column;
    align-items: center;
  }

  h1 h2 h3 {
    flex-direction: column;
    align-items: center;
  }

  .img-item {
    flex-direction: column;
    align-items: center;
  }

  .center-image {
    flex-direction: column;
    align-items: center;
  }

  .p {
    flex-direction: column;
    align-items: center;
  }

  .nav-link-container-1 {
    flex-direction: column;
    align-items: center;
  }
}
